<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promis Gaming</title>
        <!-- <script src="./jquery-3.6.0.js"></scripst> -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">  
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.js"></script>
            <link rel="stylesheet" href="./css/stylesheet.css">
    </head>
    <body ng-app="regApp" ng-controller="regCtrl">
        <header>

        <!-- <h5>Dark Mode</h5> -->
        <div class="btns">
            <div class="loginmodal">
        <button onclick="document.getElementById('log').style.display='block'" class="login-btn" ng-hide="loginDone">Login</button>
        <!-- Login modal -->
        <div id="log" class="modal">
            <form class="modal-content animate" action="blank" method="post" name="registerForm">
                <div name="registerForm" class="container1" >
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="usernameInput" ng-model="regVal.usernameInput" required>
                    <p class="error" ng-hide="{{registerForm.usernameInput.$pristine}}" ng-show="registerForm.usernameInput.$invalid" >Username should be filled</p>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" ng-model="regVal.psw" required>    
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <div class="container1">
                        <button type="button"  onclick="document.getElementById('log').style.display='none'" ng-click="loginEnter()">Login</button>
                    <button type="button" onclick="document.getElementById('log').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw"><a href="#!metoo">Forgot password?</a></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="bns">
            <a href="#" class="logout" ng-show="loginDone" ng-click="logOut()">Log out</a>
            <button ng-show="loginDone"class="cart"><img src="./img/cart.png" ></button>
            <button ng-show="loginDone" class="ckout">Check Out</button>
        </div>
        <div>
            <a id="dkmd"></a>
            <label class="switch">
            <input ng-click="myFunction()" type="checkbox">
            <span class="slider round"></span>
            </label>
        </div>
        </div>
<!-- <div>
    <h5>Dark Mode</h5>
    <label class="switch">
        <input onclick="myFunction()" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div> -->
    <div class="cartModal"ng-click="showcart()">{{totalqty}}</div>
        <div ng-repeat="buy in cartList">
            <p>Game Name: {{buy.game_name}}</p>
            <p>App Language: {{buy.app_language}}</p>
            <p>App Version: {{buy.app_ver}}</p>
            <p>App Year: {{buy.app_year}}</p>
            <p>Game Company: {{buy.game_company}}</p>
            <p>Price: {{buy.currency_dollar}}</p>
        </div>
    </div>
</header>
        <aside>
            <img src="./img//banner.jpg" class="banner" alt="Banner Image" width="100%" height="500" />
        </aside>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#"><b>Home</b></a>
                </li>
                <li>
                    <a href="#!games"><b>Games</b></a>
                </li>
                <li>
                    <a href="#!about"><b>About</b></a>
                </li>
                <li>
                    <a href="#!contact"><b>Contact</b></a>
                </li>
            </ul>
        </nav>
       <!-- Carousel slider section -->
 <section class="container max-height d-flex align-items-center">
     <div id="carouselExampleCaptions" class="carousel slide" data-bs-interval="3000" data-bs-ride="carousel">
         <div class="carousel-indicators">
             <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
             <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2"></button>
             <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3"></button>
             <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-current="true" aria-label="Slide 4"></button>
             <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-current="true" aria-label="Slide 5"></button>
         </div>
 <section id="carousel" ng-carousel
   ng-swipe-right="curSlide=curSlide-1" 
   ng-swipe-left="curSlide=curSlide+1">

   <ul>
     <li><img src="/Project/PromisProj/img/fifa.jpg" />
     <li><img src="/Project/PromisProj/img/halo.jpg" />
     <li><img src="/Project/PromisProj/img/mariobros.png" />
     <li><img src="/Project/PromisProj/img/hayday.jpg" />
   </ul>
   
   <div id="prev-button" ng-click="curSlide=curSlide-1"> &lt; </div>
   
   <div id="next-button" ng-click="curSlide=curSlide+1">&gt; </div>
 </section>  
    <main ng-view>
       <!-- show contents from home, games, about -->
    </main>
    <div>
        <a href="#dkmd" class="backToTop"><img src="./img/top.png" width="50" height="50"></a>
    </div>
    <footer>
        All Rights Reserved &copy; Promise Team (2022) Tamwood College, Vancouver, BC
    </footer>
</body>

<script>
// creating angular App
let regApp = angular.module('regApp',["ngRoute","ngAnimate"]);
// making SPA
regApp.config(($routeProvider)=>{
    $routeProvider
    .when("/",{
        templateUrl:"./SPA/home.html"
    })
    .when("/games",{
        templateUrl:"./SPA/games.html"
    })
    .when("/about",{
        templateUrl:"./SPA/about.html"
    })
    .when("/metoo",{
        templateUrl:"./SPA/metoo.html"
    })
    .when("/contact",{
        templateUrl:"./SPA/contact.html"
    })
})
// using cookie when running the app
regApp.run(($rootScope)=>{
    $rootScope.policy = true;})
regApp.controller('regCtrl',($scope,$http,$rootScope)=>{
    $http.get("./app.json").then(
    (res)=>{
        $rootScope.textData = res.data;
        // console.log(res.data)
    }
    )
    // switch(event.type){

    // }

    //---------------------------login and out-------------------------------------//
    // Get the modal    
    // When the user clicks anywhere outside of the modal, close it
    $scope.clklog=()=>{
        $scope.modal=true;
    }
    $scope.loginDone = false;
        $scope.loginEnter = ()=>{
            $scope.loginDone = true;
        }
        $scope.logOut = ()=>{
            $scope.loginDone = false;
        }
    // --------------------------Cookie consent popup-------------------------------//
    // Create cookie
    $scope.setCookie = (cname, cvalue, exdays)=> {
        $scope.d = new Date();
        $scope.d.setTime($scope.d.getTime() + (exdays*24*60*60*1000));
        $scope.expires = "expires="+ $scope.d.toUTCString();
        $scope.document.cookie = cname + "=" + cvalue + ";" + $scope.expires + ";path=/";
    }
    
    // Delete cookie
    $scope.deleteCookie=(cname) =>{
        $scope.d = new Date();
        $scope.d.setTime($scope.d.getTime() + (24*60*60*1000));
        $scope.expires = "expires="+ $scope.d.toUTCString();
        $scope.document.cookie = cname + "=;" + $scope.expires + ";path=/";
    }
    
    // Read cookie
    $scope.getCookie=(cname) =>{
        $scope.name = cname + "=";
        $scope.decodedCookie = decodeURIComponent(document.cookie);
        $scope.ca = decodedCookie.split(';');
        for(let i = 0; $scope.i <$scope.ca.length; i++) {
            $scope.c = $scope.ca[i];
            while ($scope.c.charAt(0) == ' ') {
                $scope.c = $scope.c.substring(1);
            }
            if ($scope.c.indexOf(name) == 0) {
                return $scope.c.substring(name.length, $scope.c.length);
            }
        }
        return "";
    }
    // Set cookie consent
    $scope.acceptCookieConsent=()=>{
        $scope.deleteCookie('user_cookie_consent');
        $scope.setCookie('user_cookie_consent', 1, 30);
        // document.getElementById("cookieNotice").style.display = "none";
        $scope.policy = false;
    }
    // $scope.cookie_consent = getCookie("user_cookie_consent");
    // if(cookie_consent != ""){
    //     // document.getElementById("cookieNotice").style.display = "none";
    // }else{
    //     // document.getElementById("cookieNotice").style.display = "block";
    // }
    // $scope.declineCookieConsent=()=>{
    //     // document.getElementById("cookieNotice").style.display = "none";
    // }
    //------------------light dark mode -------------------------------------------------------//
    $scope.myFunction=()=> {
        $scope.element = document.body;
        console.log(document.body);
        // $scope.el = document.getElementsByTagName('div');
        $scope.element.classList.toggle("dark-mode");
    }
    
})

// --------------------------------------------------------add to cart----------------------------//
    $scope.cartList = [];
    $scope.addCart = ()=>{
        let buyItemName = event.target.value
        for(let object of $rootScope.textData){
            if(object.game_name == buyItemName){
                $scope.cartList.push(object)
            }
        }
        console.log($scope.cartList)
    } 

//-----------------------------------------------details--------------------------------------------------//

// app.controller('regCtrl', function($scope, $http) {
// $scope.submit = function() {
//  // alert("SUBMIT "+$scope.regVal.username);
//   var stat="false";
// angular.forEach($scope.mydata, function(item){
//                   // alert(item.email);  
//                   if((item.email==$scope.regVal.usernameInput)&&(item.Password==$scope.regVal.psw))
//                   {
//                     stat="true";
//                   }


//                });
// $scope.regVal.usernameInput="";
// $scope.regVal.psw="";
//   if(stat=="true")
//     alert("Success");
//   else
//     alert("Failure");
//   };
  
//  $scope.regVal = {
// 			"username" : "",
// 			"password" : ""
			
// 		};
// $scope.mydata;
//   $http.get("/users.json")
//   .then(function(response) {
//       $scope.mydata = response.data;
//        angular.forEach($scope.mydata, function(item){
//                   // alert(item.email);  
//                })
      
//   });
  
  
// });
//---------------------------calling the json file----------------------------------//
    //     $scope.populate = (data)=>{
    //     $scope.tbody = document.getElementsByTagName("tbody")[0];
    //     $scope.datas = JSON.parse(data)
    //     for ($scope.obj of datas){
    //         $scope.tr = document.createElement('tr');
    //         for ($scope.prop in obj){
    //             $scope.td = document.createElement("td");
    //             td.innerText = obj[prop];
    //             tr.appendChild(td);
    //         }
    //         tbody.appendChild(tr);
    //     }
    // }
    // async function loadJson(){
    // $scope.ajaxPromise = new Promise ((resolve,reject)=>{
    //     $scope.req = new XMLHttpRequest();
    //     req.open("GET","./data.json");
    //     req.onload = () =>{
    //         if(req.status==200){
    //             resolve(req.responseText);
    //         }else{
    //             reject(req.statusText0);
    //         }
    //     };
    //     req.send();
    // })
    // populate(await ajaxPromise);
    // }
    // loadJson().then(
    //     ()=>{},
    //     (reason)=>{alert(reason);}
    // )

//-----------------Game Gallery accordion logic-------------------------------------------//
// $(document).ready(function(){
//   $("#flip").click(function(){
//     $("#panel").slideDown("slow");
//   });
//     $("#flip").blur(function(){
//     $("#panel").slideUp("fast");
//   });
// });
//-----------------slide show--------------------------------------------------------------//
    // $scope.slides = document.getElementsByClassName("mySlides");
    // $scope.activeIndex = 0;
    // showSlides(activeIndex);
    // function showSlides(slideCounter){
    //     activeIndex += slideCounter;
    //     if(activeIndex>=slides.length) {
    //         activeIndex = 0;
    //     }else if(activeIndex<0){
    //         activeIndex = slides.length -1;
    //     }
    //     for ($scope.i=0;i<slides.length;i++){
    //         slides[i].style.display = "none";//hide all the slides
    //     }
    //     slides[activeIndex].style.display = "block";//only show the active slide
    // }

    //     var app = angular.module('myApp',['ngTouch']);
    // app.directive('ngCarousel', function() {
    //   return function(scope, element, attrs) {
    //     var el = element[0];
    //     var containerEl = el.querySelector("ul");
    //     var slidesEl = containerEl.querySelectorAll("li");
    //     scope.numSlides = slidesEl.length;
    //     scope.curSlide = 1;   
    //     scope.$watch('curSlide', function(num) {
    //       num = (num % scope.numSlides) + 1;
    //       containerEl.style.left = (-1*100*(num-1)) + '%';
    //     });
        
    //     el.style.position = 'relative';
    //     el.style.overflow = 'hidden';

    //     containerEl.style.position = 'absolute';
    //     containerEl.style.width = (scope.numSlides*100)+'%';
    //     containerEl.style.listStyleType = 'none';
    //     containerEl.style.margin =0;
    //     containerEl.style.padding=0;
    //     containerEl.style.transition = '1s';
        
    //     for(var i=0; i<slidesEl.length; i++) {
    //       var slideEl = slidesEl[i];
    //       slideEl.style.display = 'inline-block';
    //       slideEl.style.width = (100/scope.numSlides) + '%';
    //     }
    //   };
    // });
    
</script>
</html>