<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promis Gaming</title>
        <!-- <script src="./jquery-3.6.0.js"></scripst> -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">  
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
            <link rel="stylesheet" href="./css/stylesheet.css">
    </head>
    <body ng-app="regApp" ng-controller="regCtrl">
        <header>

        <!-- <h5>Dark Mode</h5> -->
        <div class="btns">
            <div class="loginmodal">
        <button onclick="document.getElementById('log').style.display='block'" class="login-btn" ng-hide="loginDone">Login</button>
        <!-- Login modal -->
        <div id="log" class="modal">
            <form class="modal-content animate" action="blank" method="post" name="registerForm">
                <div name="registerForm" class="container1" >
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="usernameInput" ng-model="regVal.usernameInput" required>
                    <p class="error" ng-hide="{{registerForm.usernameInput.$pristine}}" ng-show="registerForm.usernameInput.$invalid" >Username should be filled</p>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" ng-model="regVal.psw" required>    
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <div class="container1">
                        <button type="button"  onclick="document.getElementById('log').style.display='none'" ng-click="loginEnter()">Login</button>
                    <button type="button" onclick="document.getElementById('log').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw"><a href="#!metoo">Forgot password?</a></span>
                </div>
            </div>
        </form>
        </div>
        <div>
            <a href="#" class="logout" ng-show="loginDone" ng-click="logOut()">Log out</a>
            <button ng-show="loginDone"><img src="./img/cart.png" class="cart"></button>
            <button ng-show="loginDone" class="ckout">Check-out</button>
        </div>
        <div>
            <label class="switch">
            <input ng-click="myFunction()" type="checkbox">
            <span class="slider round"></span>
            </label>
        </div>
        </div>
<!-- <div>
    <h5>Dark Mode</h5>
    <label class="switch">
        <input onclick="myFunction()" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div> -->
    <div class="cartModal">
        <div ng-repeat="buy in cartList">
            <p>Game Name: {{buy.game_name}}</p>
            <p>App Language: {{buy.app_language}}</p>
            <p>App Version: {{buy.app_ver}}</p>
            <p>App Year: {{buy.app_year}}</p>
            <p>Game Company: {{buy.game_company}}</p>
            <p>Price: {{buy.currency_dollar}}</p>
        </div>
    </div>

    <!-- <div class="checkoutmodal">
        <section class="h-100 h-custom" style="background-color: #eee;">
            <div class="container h-100 py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card shopping-cart" style="border-radius: 15px;">
                    <div class="card-body text-black">

                        <div class="row">
                        <div class="col-lg-6 px-5 py-4">

                            <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Your products</h3>

                            <div class="d-flex align-items-center mb-5">
                            <div class="flex-shrink-0">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/13.webp"
                                class="img-fluid" style="width: 150px;" alt="Generic placeholder image">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <a href="#!" class="float-end text-black"><i class="fas fa-times"></i></a>
                                <h5 class="text-primary">Samsung Galaxy M11 64GB</h5>
                                <h6 style="color: #9e9e9e;">Color: white</h6>
                                <div class="d-flex align-items-center">
                                <p class="fw-bold mb-0 me-5 pe-3">799$</p>
                                <div class="def-number-input number-input safari_only">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                    class="minus"></button>
                                    <input class="quantity fw-bold text-black" min="0" name="quantity" value="1"
                                    type="number">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                    class="plus"></button>
                                </div>
                                </div>
                            </div>
                            </div>

                            <div class="d-flex align-items-center mb-5">
                            <div class="flex-shrink-0">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/6.webp"
                                class="img-fluid" style="width: 150px;" alt="Generic placeholder image">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <a href="#!" class="float-end text-black"><i class="fas fa-times"></i></a>
                                <h5 class="text-primary">Headphones Bose 35 II</h5>
                                <h6 style="color: #9e9e9e;">Color: Red</h6>
                                <div class="d-flex align-items-center">
                                <p class="fw-bold mb-0 me-5 pe-3">239$</p>
                                <div class="def-number-input number-input safari_only">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                    class="minus"></button>
                                    <input class="quantity fw-bold text-black" min="0" name="quantity" value="1"
                                    type="number">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                    class="plus"></button>
                                </div>
                                </div>
                            </div>
                            </div>

                            <div class="d-flex align-items-center mb-5">
                            <div class="flex-shrink-0">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"
                                class="img-fluid" style="width: 150px;" alt="Generic placeholder image">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <a href="#!" class="float-end text-black"><i class="fas fa-times"></i></a>
                                <h5 class="text-primary">iPad 9.7 6-gen WiFi 32GB</h5>
                                <h6 style="color: #9e9e9e;">Color: rose pink</h6>
                                <div class="d-flex align-items-center">
                                <p class="fw-bold mb-0 me-5 pe-3">659$</p>
                                <div class="def-number-input number-input safari_only">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                    class="minus"></button>
                                    <input class="quantity fw-bold text-black" min="0" name="quantity" value="2"
                                    type="number">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                    class="plus"></button>
                                </div>
                                </div>
                            </div>
                            </div>

                            <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">

                            <div class="d-flex justify-content-between px-x">
                            <p class="fw-bold">Discount:</p>
                            <p class="fw-bold">95$</p>
                            </div>
                            <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                            <h5 class="fw-bold mb-0">Total:</h5>
                            <h5 class="fw-bold mb-0">2261$</h5>
                            </div>

                        </div>
                        <div class="col-lg-6 px-5 py-4">
                            <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Payment</h3>
                            <form class="mb-5">
                            <div class="form-outline mb-5">
                                <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                value="1234 5678 9012 3457" minlength="19" maxlength="19" />
                                <label class="form-label" for="typeText">Card Number</label>
                            </div>

                            <div class="form-outline mb-5">
                                <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                value="John Smith" />
                                <label class="form-label" for="typeName">Name on card</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-5">
                                <div class="form-outline">
                                    <input type="text" id="typeExp" class="form-control form-control-lg" value="01/22"
                                    size="7" id="exp" minlength="7" maxlength="7" />
                                    <label class="form-label" for="typeExp">Expiration</label>
                                </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                <div class="form-outline">
                                    <input type="password" id="typeText" class="form-control form-control-lg"
                                    value="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                    <label class="form-label" for="typeText">Cvv</label>
                                </div>
                                </div>
                            </div>
                            <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit <a
                                href="#!">obcaecati sapiente</a>.</p>

                            <button type="button" class="btn btn-primary btn-block btn-lg">Buy now</button>
                            <h5 class="fw-bold mb-5" style="position: absolute; bottom: 0;">
                                <a href="#!"><i class="fas fa-angle-left me-2"></i>Back to shopping</a>
                            </h5>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section> -->
    </div>
</header>
            <aside>
            <img src="./img//banner.jpg" class="banner" alt="Banner Image" width="100%" height="500" />
        </aside>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#"><b>Home</b></a>
                </li>
                <li>
                    <a href="#!games"><b>Games</b></a>
                </li>
                <li>
                    <a href="#!about"><b>About</b></a>
                </li>
                <li>
                    <a href="#!contact"><b>Contact</b></a>
                </li>
            </ul>
        </nav>
    <main ng-view>
       <!-- show contents from home, games, about -->
    </main>
    <div>
        <a href="#" class="backToTop"><img src="./img/top.png" width="50" height="50"></a>
    </div>
    <footer>
        All Rights Reserved &copy; Promise Team (2022) Tamwood College, Vancouver, BC
    </footer>
</body>

<script>
// creating angular App
let regApp = angular.module('regApp',["ngRoute"]);
// making SPA
regApp.config(($routeProvider)=>{
    $routeProvider
    .when("/",{
        templateUrl:"./SPA/home.html"
    })
    .when("/games",{
        templateUrl:"./SPA/games.html"
    })
    .when("/about",{
        templateUrl:"./SPA/about.html"
    })
    .when("/metoo",{
        templateUrl:"./SPA/metoo.html"
    })
    .when("/contact",{
        templateUrl:"./SPA/contact.html"
    })
})
// using cookie when running the app
regApp.run(($rootScope)=>{
    $rootScope.policy = true;})
regApp.controller('regCtrl',($scope,$http,$rootScope)=>{
    $http.get("./app.json").then(
    (res)=>{
        $rootScope.textData = res.data;
        // console.log(res.data)
    }
    )
    // switch(event.type){

    // }

    //---------------------------login and out-------------------------------------//
    // Get the modal    
    // When the user clicks anywhere outside of the modal, close it
    $scope.clklog=()=>{
        $scope.modal=true;
    }
    $scope.loginDone = false;
        $scope.loginEnter = ()=>{
            $scope.loginDone = true;
        }
        $scope.logOut = ()=>{
            $scope.loginDone = false;
        }
    // --------------------------Cookie consent popup-------------------------------//
    // Create cookie
    $scope.setCookie = (cname, cvalue, exdays)=> {
        $scope.d = new Date();
        $scope.d.setTime($scope.d.getTime() + (exdays*24*60*60*1000));
        $scope.expires = "expires="+ $scope.d.toUTCString();
        $scope.document.cookie = cname + "=" + cvalue + ";" + $scope.expires + ";path=/";
    }
    
    // Delete cookie
    $scope.deleteCookie=(cname) =>{
        $scope.d = new Date();
        $scope.d.setTime($scope.d.getTime() + (24*60*60*1000));
        $scope.expires = "expires="+ $scope.d.toUTCString();
        $scope.document.cookie = cname + "=;" + $scope.expires + ";path=/";
    }
    
    // Read cookie
    $scope.getCookie=(cname) =>{
        $scope.name = cname + "=";
        $scope.decodedCookie = decodeURIComponent(document.cookie);
        $scope.ca = decodedCookie.split(';');
        for(let i = 0; $scope.i <$scope.ca.length; i++) {
            $scope.c = $scope.ca[i];
            while ($scope.c.charAt(0) == ' ') {
                $scope.c = $scope.c.substring(1);
            }
            if ($scope.c.indexOf(name) == 0) {
                return $scope.c.substring(name.length, $scope.c.length);
            }
        }
        return "";
    }
    // Set cookie consent
    $scope.acceptCookieConsent=()=>{
        $scope.deleteCookie('user_cookie_consent');
        $scope.setCookie('user_cookie_consent', 1, 30);
        // document.getElementById("cookieNotice").style.display = "none";
        $scope.policy = false;
    }
    // $scope.cookie_consent = getCookie("user_cookie_consent");
    // if(cookie_consent != ""){
    //     // document.getElementById("cookieNotice").style.display = "none";
    // }else{
    //     // document.getElementById("cookieNotice").style.display = "block";
    // }
    // $scope.declineCookieConsent=()=>{
    //     // document.getElementById("cookieNotice").style.display = "none";
    // }
    //------------------light dark mode -------------------------------------------------------//
    $scope.myFunction=()=> {
        $scope.element = document.body;
        console.log(document.body);
        // $scope.el = document.getElementsByTagName('div');
        $scope.element.classList.toggle("dark-mode");
    }
    
})

// --------------------------------------------------------add to cart----------------------------//
    $scope.cartList = [];
    $scope.addCart = ()=>{
        let buyItemName = event.target.value
        for(let object of $rootScope.textData){
            if(object.game_name == buyItemName){
                $scope.cartList.push(object)
            }
        }
        console.log($scope.cartList)
    } 
// app.controller('regCtrl', function($scope, $http) {
// $scope.submit = function() {
//  // alert("SUBMIT "+$scope.regVal.username);
//   var stat="false";
// angular.forEach($scope.mydata, function(item){
//                   // alert(item.email);  
//                   if((item.email==$scope.regVal.usernameInput)&&(item.Password==$scope.regVal.psw))
//                   {
//                     stat="true";
//                   }


//                });
// $scope.regVal.usernameInput="";
// $scope.regVal.psw="";
//   if(stat=="true")
//     alert("Success");
//   else
//     alert("Failure");
//   };
  
//  $scope.regVal = {
// 			"username" : "",
// 			"password" : ""
			
// 		};
// $scope.mydata;
//   $http.get("/users.json")
//   .then(function(response) {
//       $scope.mydata = response.data;
//        angular.forEach($scope.mydata, function(item){
//                   // alert(item.email);  
//                })
      
//   });
  
  
// });
//---------------------------calling the json file----------------------------------//
    //     $scope.populate = (data)=>{
    //     $scope.tbody = document.getElementsByTagName("tbody")[0];
    //     $scope.datas = JSON.parse(data)
    //     for ($scope.obj of datas){
    //         $scope.tr = document.createElement('tr');
    //         for ($scope.prop in obj){
    //             $scope.td = document.createElement("td");
    //             td.innerText = obj[prop];
    //             tr.appendChild(td);
    //         }
    //         tbody.appendChild(tr);
    //     }
    // }
    // async function loadJson(){
    // $scope.ajaxPromise = new Promise ((resolve,reject)=>{
    //     $scope.req = new XMLHttpRequest();
    //     req.open("GET","./data.json");
    //     req.onload = () =>{
    //         if(req.status==200){
    //             resolve(req.responseText);
    //         }else{
    //             reject(req.statusText0);
    //         }
    //     };
    //     req.send();
    // })
    // populate(await ajaxPromise);
    // }
    // loadJson().then(
    //     ()=>{},
    //     (reason)=>{alert(reason);}
    // )

//-----------------Game Gallery accordion logic-------------------------------------------//
// $(document).ready(function(){
//   $("#flip").click(function(){
//     $("#panel").slideDown("slow");
//   });
//     $("#flip").blur(function(){
//     $("#panel").slideUp("fast");
//   });
// });
//-----------------slide show--------------------------------------------------------------//
    // $scope.slides = document.getElementsByClassName("mySlides");
    // $scope.activeIndex = 0;
    // showSlides(activeIndex);
    // function showSlides(slideCounter){
    //     activeIndex += slideCounter;
    //     if(activeIndex>=slides.length) {
    //         activeIndex = 0;
    //     }else if(activeIndex<0){
    //         activeIndex = slides.length -1;
    //     }
    //     for ($scope.i=0;i<slides.length;i++){
    //         slides[i].style.display = "none";//hide all the slides
    //     }
    //     slides[activeIndex].style.display = "block";//only show the active slide
    // }

    //     var app = angular.module('myApp',['ngTouch']);
    // app.directive('ngCarousel', function() {
    //   return function(scope, element, attrs) {
    //     var el = element[0];
    //     var containerEl = el.querySelector("ul");
    //     var slidesEl = containerEl.querySelectorAll("li");
    //     scope.numSlides = slidesEl.length;
    //     scope.curSlide = 1;   
    //     scope.$watch('curSlide', function(num) {
    //       num = (num % scope.numSlides) + 1;
    //       containerEl.style.left = (-1*100*(num-1)) + '%';
    //     });
        
    //     el.style.position = 'relative';
    //     el.style.overflow = 'hidden';

    //     containerEl.style.position = 'absolute';
    //     containerEl.style.width = (scope.numSlides*100)+'%';
    //     containerEl.style.listStyleType = 'none';
    //     containerEl.style.margin =0;
    //     containerEl.style.padding=0;
    //     containerEl.style.transition = '1s';
        
    //     for(var i=0; i<slidesEl.length; i++) {
    //       var slideEl = slidesEl[i];
    //       slideEl.style.display = 'inline-block';
    //       slideEl.style.width = (100/scope.numSlides) + '%';
    //     }
    //   };
    // });
// pagination
var reg = angular.module('regApp', ['ui.bootstrap']);

reg.controller('regctrl', function($scope) {
  $scope.currentPage = 1,
  $scope.numPerPage = 10,
  $scope.maxSize = 5;
  
  $scope.makeReg = function() {
    $scope.reg = [];
    for (i=1;i<=1000;i++) {
      $scope.reg.push({ text:'reg '+i, done:false});
    }
  };
  $scope.makeReg(); 
  
  $scope.numPages = function () {
    return Math.ceil($scope.reg.length / $scope.numPerPage);
  };
  
  $scope.$watch('currentPage + numPerPage', function() {
    var begin = (($scope.currentPage - 1) * $scope.numPerPage)
    , end = begin + $scope.numPerPage;
    
    $scope.filteredTodos = $scope.reg.slice(begin, end);
  });
});
</script>
</html>