@media (min-width: 300px){
      .back-to-top {
    margin-left: 95%;
    position: fixed;
    height: 95%;
    width: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    a {
      background-color: steelblue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3vh;
      height: 3vh;
      font-size: 14px;
      text-decoration: none;
      color: $defaultColor1;
    }
  }
}