<input type="text" ng-model="game_nameSearch" placeholder="Search by game name!" style="width: 60%;">
<section class="gameTable">
    <div class="games" ng-repeat="data in textData | orderBy:'game_name' | filter:game_nameSearch">
        <div class="gm">
            <a href="#"><img src="{{data.img}}" style="width:500px"></img></a>
            <br><span>Game: {{data.game_name}}</span>
            <br><span>company: {{data.game_company}}</span>
            <br><span>Price: {{data.currency_dollar}}</span>
        </div>
        <div class="buybut">
            <button type="button">Add to Cart</button>
            <button type="button">Purchase</button>
        </div>
    </div>
</section>
